<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Recipe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation" appDropdown
            [cl]="'collapse navbar-collap'">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="nav navbar-nav">
                <li><a (click)="setLink($event)" class="nav-link">Recipes</a></li>
                <li><a (click)="setLink($event)" class="nav-link">Shopping List</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" appDropdown [cl]="'dropdown-menu dropdown-menu-dark'">
                        Manage
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Save Data</a></li>
                        <li><a class="dropdown-item" href="#">Fetch Data</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>