<div class="row">
    <div class="col-xs-12 ">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div>
        <app-loading-spinner *ngIf="isLoading" style="text-align: center;"></app-loading-spinner>
        <form [formGroup]="authForm" (ngSubmit) ="onSubmit()" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" formControlName="email">
                <p *ngIf="fKeys['email'].touched && fKeys['email'].invalid">Please enter a correct email format</p>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
                <p *ngIf="fKeys['password'].touched && fKeys['password'].invalid">Password must be 6 letter long</p>
            </div>
            <div>
                <button class="btn btn-primary" style="margin-right: 20px" [disabled]="f.status === 'INVALID'"  type="submit">{{isLoginMode ? "Login" : "Sign Up"}}</button>
                
                <button class="btn btn-default" type="button" (click) ="onSwitchMode()">{{!isLoginMode ? "Already Sign Up" : "Register"}}</button>
            </div>
        </form>
    </div>
</div>